body {
    margin: 0;
    padding: 0;
}
main {
    margin: 0;
}

#interface{
    border: solid 1px #ffffff;
    padding: 10% 20% 10% 20%;
    background-image: url(imagens/background.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    text-align: center;
}

#titulo {
    font-family: galada;
    font-size: 70px;
    font-weight: 400;
    color: white;
    opacity: 100%;
}

#titulo2 {
    font-family: galada;
    font-size: 48px;
    font-weight: 400;
    color: red;
    opacity: 100%;
    text-align: center;
}

.texto2 {
    color: red;
    font-weight: 600;
    margin: 0 1% 40px 0;
    display: flex;
}

hr {
    height: 3px;
    background-color: white;
}

#interface2 {
    border: solid 1px #ffffff;
    position: static;
    padding: 125px 0 120px 5%;
    background-image: url(imagens/carbonara.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;;
    background-attachment: fixed;
    display: flex;
    flex: content;
}

#depoimentos {
    border: solid 1px #ffffff;
    position: static;
    padding: 100px 0 100px 5%;
    background-image: linear-gradient(to bottom, #87CEEB, #ffffff);
    display: flex;
}

#pessoas_depoimentos {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.nome_pessoa {
    font-size: 40px;
    font-family: galada;
    font-size: 40px;
    font-weight: 400;
    color: red;
    text-align: center;
    margin-top: -25px;
}

#telefone {
}

#mulher {
    border-radius: 100px;
    border: solid 1px #ffffff;
}

#img_depoimentos {
    background-image: url(imagens/familia_posando.jpg);
    background-repeat: no-repeat;
}

#rodape {
    background-image: url(imagens/limao_cortado.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    
    display: flex;
    opacity: 0.9;
}

#rodapecz {
    background-color: dimgray;
    padding: 7px;
    border-top: solid #ffffff 1px;
    display: block;
}

.btnverde {
    padding: 0 10px 0 10px;
    font-size: 25px;
    font-family: raleway;
    margin: 30px 0 0 150px;
    font-weight: 600;
    margin-left: 0;
}

#texto2 {
    padding-left: 50%;
    padding-top: 10%;
    padding-bottom: 10%;
    display: block;
    text-align: center;
}

#texto_empresa {
    font-family: raleway;
    font-size: 20px;
    list-style: none;
    text-align: center;
    line-height: 2;
    margin-top: -50px
}

.titulo2 {
    padding:10px 300px 300px 250px;
    
}

#BV {
    padding: 0 0 0 2%;
    text-align: center;
}

#BV2 {
    padding: 0 0 0 2%;
    text-align: center;
}

nav#fora{
    background-color: white;
    border: solid 1px #ffffff;
    display: block;
    position: relative;
    padding: 40px;
    
}
#logo {
    position: absolute;
    margin-top: -30px;
}

ul {
    text-align: right;
    list-style: none;
    padding-left: 20% ;
}

#navbar li{
    display: inline-block;
    padding: 0 10px 0 10px;
    font-size: 25px;
    font-family: raleway;
}
@font-face {
    font-family: galada;
    src: local(galada), url(Fontes/Galada-Regular.ttf)
}

@font-face {
    font-family: raleway;
    src: local(raleway), url(Fontes/Raleway-VariableFont_wght.ttf);
}

nav ul li a {
    text-decoration: none;
    color: black;
}
#btnverde {
    border: solid 2px greenyellow;
    padding: 5px 15px 5px 15px;
    border-radius: 40px;
    background-color: greenyellow;
    color: white;
    transition: 0.5s;
}

.pimenta img{
    padding-left: 20%;
}

#btnverde:hover {background-color: green; border: green;}

nav div ul li a:hover {color: greenyellow;}

#texto {
    font-family: raleway;
    font-size: 20px;
    list-style: none;
    text-align: center;
    line-height: 2;
}

main div div a {
    text-align: center;
    text-decoration: none;
    color: black;
    border: solid 2px;
    padding: 10px;
}

#check {
    display: none;
}
#icone {
    display: none;
}
.barra {
    display: none;
}

main div div a:hover{background-color: darkgray;}

@media (max-width: 1025px) {
    #interface2 {
        display: block;
        background-image: url(imagens/carbonara_mobile.jpg);
    }
    #depoimentos {
        display: block;
    }
    #rodape {
        display: block;
    }
    
}

@media (max-width: 600px) {
    .titulo2 {
        padding: 10px 0 300px 0;
    }
    .pimenta img{
        padding-left: 0;
        width: 300px;
        height: 450px;
    }
    #titulo{
        font-size: 48px;
    }
    #texto2 {
        padding-left: 0;
    }
}

@media (max-width: 800px) {
    ul li a {
        display: none;
    }
    #icone {
        cursor: pointer;
        display: block;
        padding-top: 3%;
        padding-left: 60%;
        position: absolute;
        z-index: 1;
    }
    .barra {
        background-color: #333333;
        height: 100%;
        width: 300px;
        position: absolute;
        transition: all .2s linear;
        display: none;
        z-index: 2;
        left: 0;

    }
    nav#dentro{
        width: 100%;
        position: absolute;
        top: 60px;
        position: absolute;
    }

    nav a {
        text-decoration: none;

    }
    .link{
        background-color: #494950;
        padding: 20px;
        transition: all .2s linear;
        color: #ffffff;
        border-bottom: 2px solid #222;

    }


    #check:checked ~ .barra {
        display: block;
        transition-delay: .2s;
    }
    
}
