.app {
    background: #f1f1f1;
    display: grid;  
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas: "cabecalho" "conteudo" "rodape";
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto;
}

.cabecalho {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    grid-area: cabecalho;
}

.menu__link {
    color:#333;
    padding: .5rem 1rem;
}
.menu__link:hover, .menu__link.ativo {
    border-bottom: 2px solid #0073e6;
}
 
.conteudo {
    grid-area: conteudo;
    padding: 0 2rem;
}

.rodape {
    grid-area: rodape;
    background: #fdfdfd;
    font-size: .8rem;
    color: #333;
    padding: 1rem;
    text-align: center;
}